---
layout: default
title: Coworking at Draper Startup House Chiang Mai
preview_image: /assets/images/DraperHouseInterior2-59.JPG
header_image: /assets/images/IMG_9586.png
features:
  - title: Day Pass
    subtitle: Give Us a Try
    content_html: Enjoy full use of our space whether you want to hang out in the cafe, use our meeting rooms or chill out on the rooftop. Includes drinking water or self-serve coffee/tea. Access anytime starting from 7am til whenever you care to leave (no re-entry permitted after 6pm).
    price: ฿100
  - title: Flex Pass
    subtitle: Come and Go as You Like
    content_html: Access our coworking space, enjoy a complimentary espresso coffee drink plus 10% off anything else in the cafe. Flex Passes offer great value and savings without locking you in to a fixed time frame to user up your membership. Buy a package of 5 or 10 days, use within 90 days of purchase. Daytime use only
    price: Starting at ฿500
  - title: Membership
    subtitle: Your All-Access Pass
    content_html: Get all the perks of the other passes and a keycard to access our space 24/7. Monthly members also get FREE access to all our events and discounts on visa and business services.
    price: Starting at ฿2400
inclusions:
  - title: Hotdesk
    icon_image: /assets/graphics/desk.png
  - title: Superfast WiFi
    icon_image: /assets/graphics/wifi.png
  - title: Coffee/Tea
    icon_image: /assets/graphics/coffee.png
  - title: Meeting Rooms
    icon_image: /assets/graphics/concall.png
  - title: Curated Events
    icon_image: /assets/graphics/event.png
  - title: Mentorship
    icon_image: /assets/graphics/mentor.png
  - title: Visa Advice
    icon_image: /assets/graphics/visa.png
  - title: Fundraising Help
    icon_image: /assets/graphics/funding.png
gallery:
  - image: /assets/images/DSH-CM-Coworking-3.JPG
    alt_text: Insert Alt Text here
  - image: /assets/images/DSH-CM-Coworking-1.JPG
    alt_text: Insert Alt Text here
  - image: /assets/images/DraperHouseInterior2-45.JPG
    alt_text: Insert Alt Text here
---
<section class="center above-the-fold-container bg-image title-hero pad-top-m body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="impact-heading text-white editable">Coworking</h2>
    <h1 class="text-white editable">Draper Startup House Chiang Mai Membership and Pricing</h1>
    <p class="text-white editable">
      Coworking is a great way to meet new people, stimulate your creativity, and learn from those around you. Members at Draper Startup House get so much more than just wifi and a desk, we also provide mentorship, networking and events curated specifically to support entrepreneurs and startups.
    </p>
  </div>
</section>
{% include blocks/features.html %}
<section class="py-4 center body-padding">
  <p>
    Please note our cafe is always open to the public - no membership required! Just order food or drinks from our menu.<br />Open Monday to Saturday from 7am to 6pm.
  </p>
</section>
{% include blocks/inclusions.html %}
<section id="copy-content" class="copy-content center body-padding py-4">
  <h3 class="editable">
    More Than Just a Place To Work
  </h3>
  <p class="editable">
    We're committed to the success of our community and the health of the local startup ecosystem. That's why we put such a big emphasis on mentorship, events, and services. We know entrepreneurship and we know Chiang Mai, so we curate and connect you to what you need to succeed and grow.
  </p>
  {% include blocks/mini-gallery.html %}
  <h3 class="editable">
    Chiang Mai's Most Dynamic Coworking Community
  </h3>
  <p class="editable">
    Get to know our members, mentors and community! <a href="https://www.facebook.com/watch/104682347796760/240982607542027/" target="_blank">Watch more videos on our Facebook Page.</a>
  </p>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdshchiangmai%2Fvideos%2F878411502960081%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</section>
{% include blocks/cta.html %}
{% include blocks/contact.html %}
