---
layout: default
title: Connect. Inspire. Empower.
preview_image: /assets/images/DraperHouseInterior2-59.JPG
header_image: /assets/images/IMG_9586.png
features:
  - title: Connect
    subtitle: Events
    content_html: >-
      <p>If you customers, a&nbsp;co-founder, business services, fresh ideas, or
      a pal to go for a bike ride, Draper Startup House events will deliver.</p>
    price:
  - title: Inspire
    subtitle: Learn
    content_html: >-
      <p>Our network founder Tim Draper and the companies Draper Venture Network
      &nbsp;has funded over the years are inspiring. You are inspiring too. OK.
      Got inspiration covered. Let's co-create ideas and build companies that
      change the world.</p>
    price:
  - title: Empower
    subtitle: 'Learn skills, prepare to climb.'
    content_html: >-
      <p>Empowerment is in the DNA of Draper Startup House. Check out Draper
      Startup House Academy, and Draper Entrepreneurship Network for
      starters.</p>
    price:
inclusions:
  - title: Work
    icon_image: /assets/graphics/desk.png
  - title: Connect
    icon_image: /assets/graphics/wifi.png
  - title: Refresh
    icon_image: /assets/graphics/coffee.png
  - title: Meet
    icon_image: /assets/graphics/concall.png
  - title: Learn
    icon_image: /assets/graphics/event.png
  - title: Mentorship
    icon_image: /assets/graphics/mentor.png
  - title: Travel Advice
    icon_image: /assets/graphics/visa.png
  - title: Investment
    icon_image: /assets/graphics/funding.png
gallery:
  - image: /assets/images/pitch3.jpg
    alt_text: Insert Alt Text here
  - image: /assets/images/emrekris.png
    alt_text: Insert Alt Text here
  - image: /assets/images/TIM-VIKRAM.PNG
    alt_text: Insert Alt Text here
---

<section class="center above-the-fold-container bg-image title-hero pad-top-m body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="impact-heading text-white editable">
 	Coworking
 </h2>
    <h1 class="text-white editable">
 	COMING SOON
 </h1>
    <p class="text-white editable">
 	<strong>We're still partnering and planning.</strong>&nbsp;Services tailored just you are coming soon. Meanwhile, we're looking for facility, food &amp; beverage, business services, event, and activity partners now!
 </p>
  </div>
</section>
{% include blocks/features.html %}
<section class="py-4 center body-padding">
  <p>
    Please note our cafe is always open to the public - no membership required! Just order food or drinks from our menu.<br />Open Monday to Saturday from 7am to 6pm.
  </p>
</section>
{% include blocks/inclusions.html %}
<section id="copy-content" class="copy-content center body-padding py-4">
  <h3 class="editable">
 	More Than Just a Place To Work
 </h3>
  <p class="editable">
 	We're committed to the success of our community and the health of the local startup ecosystem. That's why we put such a big emphasis on mentorship, events, and services. We know entrepreneurship and we know Da Nang, so we curate and connect you to what you need to succeed and grow.
 </p>
  {% include blocks/mini-gallery.html %}
  <h3 class="editable">
 	The Draper Startup House Community
 </h3>
  <p class="editable">
 	Get to know our members, mentors and community! <a target="_blank" href="https://www.facebook.com/watch/104682347796760/240982607542027/">Watch more videos on our Facebook Page.</a>
 </p>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdshchiangmai%2Fvideos%2F878411502960081%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</section>
{% include blocks/cta.html %}
{% include blocks/contact.html %}
