---
layout: default
title: Services at Draper Startup House Chiang Mai
preview_image: /assets/images/DSH-CM-Terrace-4.JPG
header_image: /assets/images/DSH-CM-Terrace-4.JPG
features:
  - title: Visa Support
    subtitle:
    content_html: >-
      <p>Whether you're looking for the best Thailand visa for digital nomads or
      you need a long-term solution for living and working in Thailand legally,
      we can advise you on the best options to suit both your personal needs and
      that of your business. Our specialties are SMART Visas and Non-B Business
      Visas.</p>
    price:
    add_button: true
    button_content: Contact Us
    button_url: /
  - title: Company Registration
    subtitle:
    content_html: >-
      <p>Setting up a company? We can help. We partner with trusted lawyers and
      accountants to help you register your company in Thailand. Our team offer
      affordable consultations to help you get started, or we can work closely
      with you from start to finish, handling the heavy load of
      documentation.</p>
    price:
    add_button: true
    button_content: Register your Company
    button_url: /
  - title: Business Consulting
    subtitle:
    content_html: >-
      <p>From digital marketing strategy, to business planning, to pitch deck
      design and more, we offer guidance and support. With a wealth of experience
      in startups and tech, you can lean on our team to help you take your project
      to the next level. And <i>if</i> we can't help you in-house - we'll tap you into
      our local and global talent networks!</p>
    price:
    add_button: true
    button_content: Get a quote
    button_url: /
specialties:
  - title: Visa Matching
    content_html: |-
      <p>
        Looking for the right visa options to live & work in Thailand? We're experts in long-term visa
        solutions suitable for freelancers, remote workers, entrepreneurs and investors in Thailand.
        During this one hour call, online or in-person, we'll run you through everything you need to know
        and give you advice tailored to your desired residency and tax situation. Ask us any questions
        you have about registering a company, getting a SMART Visa or working through a Professional
        Employment Organizations (PEOs).
        <br /><br />If you choose to hire us for further services, we'll count
        this fee towards your deposit.<br />This visa consultation is FREE for our guests and coworking members!
      </p>
    price: ฿3000
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: SMART S Visa Assistance
    content_html: |-
      <p>
        Need help putting together and submitting your application for the 6-Month SMART S Visa?
        The SMART S Visa is perfect for startup entrepreneurs looking to set up a presence in
        Thailand while launching their company or exploring the market. We'll walk you through
        the requirements, process, and work with you to get your business plan and presentation
        up to the BOI's exacting requirements.
        <br /><br />In the event that your application is rejected, we'll work with you to get
        it accepted or your money back. Please note the price quoted for this
        package <i>includes</i> the fee paid to process your visa (in-country).
      </p>
    price: '฿20,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: Company Registration Package
    content_html: |-
      <p>
        Register your Thailand limited company in Chiang Mai. We assist you in filing your
        company registration, obtaining your Non-B Business Visa and Work Permit, and help
        you to open a corporate bank account for your new company. Making the process clear
        and easy-to-follow, plus taking away the hassle and headache of organizating the
        required paperwork, let us help you to get your business started on the right foot.
      </p>
    price: 'Starting at ฿50,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
  - title: Volunteer Visa Package
    content_html: |-
      <p>
        For highly-qualified professionals with experience in startup financing,
        venture building, growth hacking, or leading software engineering teams,
        we help match you with volunteer positions at Chiang Mai University.
        In exchange for their work at the university, volunteers will receive a
        SMART T Visa along with relocation assistance, private offices, and
        other administrative support from the university.
        <!-- <br /><br />Please note that all fees collected go towards visa
        fees and administrating this program. This collaboration with the university is a
        social enterprise joint venture. -->
      </p>
    price: '฿15,000'
    add_button: true
    button_url: 'mailto:lily@draperstartuphouse.com'
---

<section class="center above-the-fold-container bg-image title-hero pad-top-m body-padding" style="background: linear-gradient(rgba(32, 66, 112,0.5), rgba(32, 66, 112,0.5)), url({{page.header_image}}); background-position: center;">
  <div class="above-the-fold-content">
    <h2 class="impact-heading text-white editable">
 	Startup Services
 </h2>
    <h1 class="text-white editable">
 	Consulting, visa &amp; legal services to help launch your business
 </h1>
    <p class="text-white editable">
 	It takes more than just an idea and hard work to build a business. Whatever your business needs, you can count on Draper Startup House and our trusted partner networks to help. From strategy and business plans to visas and company registration, we're experienced in all the heavy-lifting it takes to get a new venture off the ground.
 </p>
  </div>
</section>
{% include blocks/features.html %}
<section id="copy-content" class="copy-content center body-padding py-4">
  <p class="editable">
 	We understand the challenges faced by international entrepreneurs seeking to establish a presence in Thailand. Whether it's through our events, serving you as a client, or referring you to our trusted partners - whatever your goals and budget - we will help you to come up with the right solution.
 </p>
  <h3 class="editable">
 	Members and guests get a 1-hour initial consultation free!
 </h3>
</section>
{% include blocks/specialties.html %}
<section id="copy-content" class="copy-content center body-padding py-2">
  <h3 class="editable">
 	Here to assist in all areas of launching your business.
 </h3>
  <p class="editable">
    Need help with something not listed on this page? Have more general questions about doing business in Thailand? If you need assistance in any other areas to launching your business, don't hesitate to reach out to our team. We have an extensive network in Chiang Mai and elsewhere in Thailand to connect you with the partners and service providers to help you move your project forward.
  </p>
  <h3 class="editable">
 	Members and guests get a 1-hour initial consultation free!
 </h3>
</section>
{% include blocks/cta.html %}
{% include blocks/contact.html %}
