<footer id="footer" class="footer py-4 center grid-center-spaceBetween">
  <div class="col-12">
    <div class="footer-logo">
      <a href="/">
        <img src="/assets/graphics/dsh-white.png" alt="Draper Startup House Chiang Mai">
      </a>
    </div>
    <!-- <h3 class="text-white">Contact Us</h3> -->
    <address>
      <a href="https://goo.gl/maps/rLVe4DXhcR4zyLrA8" class="" target="_blank">
        {{site.data.settings.basics.address_html}}
      </a>
    </address>
    <a href="mailto:{{site.data.settings.basics.contact_email}}" class="" target="_blank">
      {{site.data.settings.basics.contact_email}}
    </a>
    
      <div class="footer-social grid-center-spaceAround">
        <a href="{{site.data.settings.social.facebook_url}}" target=_blank><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="{{site.data.settings.social.instagram_url}}" target=_blank><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="{{site.data.settings.social.linkedin_url}}" target=_blank><i class="fa fa-linkedin" aria-hidden="true"></i></i></a>
        <a href="{{site.data.settings.social.twitter_url}}" target=_blank><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>

  </div>
  <span class="col-12">
    © Draper Startup House <script type="text/javascript">
    document.write(new Date().getFullYear()); </script>
  </span>
</footer>
