<div class="nav-bar">
  <a id="nav-logo-img" href="/" class="nav-logo-img">
    <img src="/assets/graphics/dsh-white.png" alt="draper startup house thailand logo" class="">
  </a>
  <nav id="nav-menu" class="nav-menu right hide flex-center">
    <a target="_blank" href="https://hotels.cloudbeds.com/reservation/Te57EC" tabindex="0">Hostel</a>
    <a href="/coworking" tabindex="0">Coworking</a>
    <a target="_blank" href="http://connectinchiangmai.com/assets/files/DSC A3 Menu.png" tabindex="0">Cafe</a>
    <a href="/services" tabindex="0">Services</a>
    <a target="_blank" href="https://www.eventbrite.com/o/draper-startup-house-chiang-mai-30963569317" tabindex="0">Events</a>
    <a href="/about" tabindex="0">About</a>
    <a href="/contact" tabindex="0">Contact</a>
  </nav>
  <button id="burger" class="text-white burger-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
