<section id="contact-form" class="bg-contact-form body-padding py-4">
  <div class="py-3 contact-form-container" data-aos="zoom-in">
    <h2 class="text-white editable impact-heading">
 	Get in touch
 </h2>
    <form id="message-form" class="sign-up-form" action="https://formspree.io/f/mrgolovn" method="POST">
      <input type="hidden" name="_next" value="/" />
      <input type="hidden" name="_subject" value="Hello DSH Chiang Mai" />
      <div class="sign-up-form-data">
        <input class="input-name" type="name" name="name" value="" placeholder="Your Name" />
        <input class="input-email" type="email" name="email" value="" placeholder="Your Email" />
      </div>
      <textarea name="message" id="message" rows="10" placeholder="Your Message"></textarea>
      <button type="submit" name="button" class="btn-light editable">Send Email</button>
    </form>
  </div>
</section>
