<section id="cta" class="cta center body-padding py-3 mb-4">
  <h2 class="accent-heading editable">
 	สมัครสมาชิกเพื่อร่วมกับเรา
 </h2>
  <p class="editable">
 	ไม่ว่าคุณจะมาสนุกกับการ Coworking หรือมาเข้าพักอยู่กับเรา การร่วมเป็นสมาชิกมอบสิทธิพิเศษให้คุณ!<br />Draper Startup House เชียงใหม่มีคาเฟ่ พื้นที่ทำงานร่วมกัน และโฮสเทลให้คุณได้เพลิดเพลิน นอกจากนี้คุณยังสามารถเข้าร่วมสมาคมออนไลน์ระดับโลกของเรา, the <a target="_blank" href="https://den.draperstartuphouse.com/">Draper Entrepreneurial Network (DEN)</a>.
 </p>
  <div class="join-us-btn">
    <a class="btn my-1" style="margin-right: 2%;" target="_blank" href="https://hotels.cloudbeds.com/reservation/Te57EC" rel="noopener noreferrer">Check Rooms & Rates</a>
    <a class="btn my-1" href="/coworking">See Coworking Packages</a>
  </div>
</section>
