<!-- <section id="cta" class="cta center body-padding py-3 mb-4">
  <h2 class="accent-heading editable">
 	Join Us and Become a Member
 </h2>
  <p class="editable">
 	Whether you’re enjoying our coworking or staying with us, being a member has perks! Draper Startup House Da Nang offers a cafe, coworking space & and hostel for you to enjoy. You can also join our global online home, the <a target="_blank" href="https://den.draperstartuphouse.com/">Draper Entrepreneurial Network (DEN)</a>.
 </p>
  <div class="join-us-btn">
    <a class="btn my-1" style="margin-right: 2%;" target="_blank" href="https://hotels.cloudbeds.com/reservation/Te57EC" rel="noopener noreferrer">Check Rooms & Rates</a>
    <a class="btn my-1" href="/coworking">See Coworking Packages</a>
  </div>
</section> -->
