<section id="specialties" class="specialties center body-padding">
  <h2 class="impact-heading opacify xl-heading">
    Our Specialties
  </h2>
  {% for specialty in page.specialties %}
  <div class="specialties-container">
    <h3 class="specialties-title">
      {{specialty.title}}
    </h3>
    <div class="specialties-content">
      {{specialty.content_html}}
    </div>
    <h3 class="specialties-price">
      {{specialty.price}}
    </h3>
    {% if specialty.add_button %}
    <a href="{{specialty.button_url}}" class="btn" data-aos="zoom-in">Learn More <i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}
  </div>
  {% endfor %}
</section>
